@charset "UTF-8";
.main {
  padding: 1.5rem;
}

.main h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.main img {
  width: 1rem;
}

.main a {
  color: #000;
}

.main a:hover {
  color: #000;
}

.main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid #a09f9f;
}

.main .row .subtitle {
  font-size: 1.1rem;
  font-weight: 500;
}

.main .row .price-mix,
.main .row .content {
  font-size: 0.8rem;
  color: #717171;
}

.main .row .price-mix.hide,
.main .row .content.hide {
  max-height: 5rem;
  overflow: hidden;
}

.main .row .price-mix img,
.main .row .content img {
  width: .7rem;
  margin-right: 0.5rem;
}

.main .row button {
  background-color: #fff;
  border: none;
  text-decoration: underline;
}

.main .row .col-4,
.main .row .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main .detail-section,
.main .price-section,
.main .policy-rule-section {
  margin-top: 2rem;
}

.main .detail-section > div,
.main .price-section > div,
.main .policy-rule-section > div {
  padding: 2rem 0;
}

.main .detail-section > div:last-child .row:last-child,
.main .price-section > div:last-child .row:last-child,
.main .policy-rule-section > div:last-child .row:last-child {
  border: none;
}

.main .title-div h1 {
  font-weight: 900;
}

.main .title-div .sleep a {
  padding: 0.5rem 1rem;
  font-weight: 700;
}

.main .title-div .sleep a:hover {
  background-color: #71717118;
  border-radius: 8px;
}

.main .title-div .sleep a:first-child {
  margin-right: 2rem;
}

.main .title-div .sleep img {
  margin-right: 0.5rem;
}

.main .title-div .view {
  margin: 1.5rem 0;
}

.main .title-div .view a {
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  padding: .3rem 1rem;
  border: 1px solid #000;
  color: #000;
  border-radius: 8px;
}

.main .title-div .view a:hover {
  background-color: #71717111;
}

.main .bar-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .bar-div button {
  font-weight: 700;
  color: #717171;
  background-color: #fff;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
  text-decoration: none;
}

.main .bar-div button.active {
  border-bottom: 2px solid #000;
  color: #000;
}

.main .sidebar {
  margin-top: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
}

.main .sidebar > ul {
  padding-left: 2rem !important;
  border-left: 2px solid #ec3355b0;
}

.main .sidebar a,
.main .sidebar button {
  text-decoration: none;
}

.main .sidebar button {
  font-size: 1.3rem;
  font-weight: 700;
}

.main .sidebar button.active {
  border-radius: 8px;
  background-color: rgba(202, 199, 197, 0.192);
}

.main .sidebar .collapse ul li {
  -webkit-transition: .5s;
  transition: .5s;
  margin: 1rem 0;
  padding-left: 1rem;
}

.main .sidebar .collapse ul li.active {
  border-left: 2px solid #7e7e7e;
  font-weight: 900;
}

.main .detail-section .photo .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .detail-section .photo .up span {
  margin-right: 0.2rem;
}

.main .detail-section .photo .pic {
  position: relative;
}

.main .detail-section .photo .pic .showPic {
  width: 100%;
  height: 17rem;
  border-radius: 18px;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.main .detail-section .person {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .detail-section .person .control {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .detail-section .person .control button {
  font-size: 1.2rem;
  width: 2rem;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #717171;
}

.main .detail-section .person .control span {
  margin: 0 1rem;
}

.main .policy-rule-section .rule .explain {
  font-size: 0.9rem;
  color: #797070;
}

.main .policy-rule-section .rule .row:not(:last-child) .editBtn {
  font-weight: 700;
  border-radius: 50%;
}

#facilityBody > div {
  margin: 2.5rem 0;
}

#facilityBody > div:last-child .modal-list:last-child {
  border: none;
}

#facilityBody h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

#facilityBody .modal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #b9b8b8;
}

#facilityBody .modal-list span {
  font-size: 1.2rem;
}

#facilityBody .modal-list .btn-group .editBtn {
  border-radius: 50% !important;
}

#facilityBody .modal-list .btn-group .editBtn:last-child {
  margin-left: 1rem;
}

#spaceBody > div {
  margin: 1rem 0;
}

#spaceBody > div .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #b9b8b8;
}

#spaceBody > div .list span {
  font-size: 1.2rem;
}

#spaceBody > div .list .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#spaceBody > div .list .btn:hover {
  background-color: transparent !important;
}

#spaceBody > div .list .btn button {
  font-size: 1.2rem;
  width: 2rem;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #717171;
  background-color: #fff;
}

#spaceBody > div .list .btn span {
  margin: 0 1rem;
}

#spaceBody > div .form-check {
  font-size: 1.2rem;
}

#spaceBody > div:last-child .modal-list:last-child {
  border: none;
}

#spaceBody h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

#spaceBody .btn-dark {
  margin: .5rem 0;
}

#photoBody {
  padding: 0 1rem;
}

#photoBody > div {
  margin: 3rem 0;
}

#photoBody > div h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

#photoBody > div span {
  color: #717171;
}

#photoBody .cover button {
  display: block;
  border-radius: 8px;
  margin: 1rem 0;
}

#photoBody .cover #coverPicture .delete {
  margin: 1rem 0;
  height: 13rem;
  background-size: cover;
}

#photoBody .upload .btn {
  display: block;
  margin: 1rem 0;
  width: 5.7rem;
  border-radius: 8px;
}

#photoBody .upload #showPhoto .delete {
  margin: 1rem 0;
  height: 13rem;
  background-size: cover;
  position: relative;
}

#photoBody .upload #showPhoto .delete.drag-sort-active {
  opacity: 50;
  border: 5px solid #000000;
}

#photoBody .upload #showPhoto .delete::before {
  content: "✕";
  background-color: rgba(49, 49, 49, 0.226);
  border-radius: 50%;
  width: 1.5rem;
  left: 0.5rem;
  top: 0.2rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  pointer-events: fill;
}

#photoBody .upload #uploadDiv {
  width: 100%;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dotted #000;
}

#photoBody .upload #uploadDiv img {
  width: 3rem;
}

#photoBody .upload #uploadDiv p {
  font-weight: 700;
}

#coverBody .delete {
  width: 100%;
  height: 13rem;
  margin: 1rem 0;
  background-size: cover;
  cursor: pointer;
}

#coverBody .delete.active {
  border: 5px solid #000;
}

.btn:hover,
button:hover {
  background-color: #71717118;
}

.btn:focus,
button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

@media screen and (min-width: 750px) {
  .main {
    padding: 0 9rem;
    margin-top: 1.5rem;
  }
  .main .title-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .title-div .mix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .title-div .mix .view {
    margin-left: 2rem;
  }
  .main .detail-section,
  .main .price-section,
  .main .policy-rule-section {
    margin-top: 0;
  }
  .main .detail-section .photo .pic .showPic {
    height: 25rem;
  }
  #photoBody .cover #coverPicture .delete {
    width: 50%;
  }
  #photoBody .upload #showPhoto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #photoBody .upload #showPhoto .delete {
    width: 49%;
  }
  #photoBody .upload #uploadDiv {
    width: 49%;
  }
  #coverBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #coverBody .delete {
    width: 49%;
  }
}

.row {
  --bs-gutter-x: 0 !important;
}
/*# sourceMappingURL=style.css.map */