.main{
    padding:1.5rem;
    h2{
        font-size: 1.5rem;
        font-weight: 700;
    }
    img{
        width: 1rem;
    }
    a{
        color: #000;
        &:hover{
            color: #000;
        }
    }
    .row{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0;
        border-bottom: 1px solid rgb(160, 159, 159);
        .subtitle{
            font-size: 1.1rem;
            font-weight: 500;
        }
        .price-mix,
        .content{
            font-size: 0.8rem;
            color: #717171;
            &.hide{
                max-height: 5rem;
                overflow: hidden;
            }
            img{
                width: .7rem;
                margin-right: 0.5rem;
            }
        }
        button{
            background-color: #fff;
            border: none;
            text-decoration: underline;
        }
        .col-4,
        .col-2{
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }
    }
    .detail-section,
    .price-section,
    .policy-rule-section{
        margin-top: 2rem;
        & > div{
            padding: 2rem 0;
            &:last-child .row:last-child{
                border: none;
            }
        }
    }
    .title-div{
        h1{
            font-weight: 900;
        }
        .sleep{
            a{
                padding: 0.5rem 1rem;
                font-weight: 700;
                &:hover{
                    background-color: #71717118;
                    border-radius: 8px;
                }
                &:first-child{
                    margin-right: 2rem;
                }
            }
            img{
                margin-right: 0.5rem;
            }
        }
        .view{
            margin: 1.5rem 0;
            a{
                &:hover{
                    background-color: #71717111;
                }
                font-weight: 700;
                display: inline-block;
                text-decoration: none;
                padding: .3rem 1rem;
                border: 1px solid #000;
                color: #000;
                border-radius: 8px; 
            }
        }
    }
    .bar-div{
        display: flex;
        justify-content: space-between;
        button{
            font-weight: 700;
            color: #717171;
            background-color: #fff;
            border: none;
            transition: .2s;
            text-decoration: none;
            &.active{
                border-bottom: 2px solid #000;
                color: #000;
            }
        }
    }
    .sidebar{
        margin-top: 2rem;
        position: sticky;
        top: 3rem;
        & > ul{
            padding-left: 2rem !important;
            border-left: 2px solid #ec3355b0;
        }
        a,
        button{
            text-decoration: none;
        }
        button{
            font-size: 1.3rem;
            font-weight: 700;
            &.active{
                border-radius: 8px;
                background-color: rgba(202, 199, 197, 0.192);
            }
        }
        .collapse{
            ul{
                li{
                    transition: .5s;
                    margin: 1rem 0;
                    padding-left: 1rem;
                    &.active{
                        border-left: 2px solid rgb(126, 126, 126);
                        font-weight: 900;
                    }
                }
            }
        }
    }
    .detail-section{
        .photo{
            .up{
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                   margin-right: 0.2rem;
                }
            }
            .pic{
                position: relative;
                .showPic{
                    width: 100%;
                    height: 17rem;
                    border-radius: 18px;
                    background-size: cover;
                    background-image: url("https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
                }
            }
        }
        .person{
            align-items: center;
            .control{
                align-items: center;
                button{
                    font-size: 1.2rem;
                    width: 2rem;
                    text-decoration: none;
                    border-radius: 50%;
                    border: 1px solid #717171;
                }
                span{
                    margin: 0 1rem;
                }
            }
        }
    }
    .policy-rule-section{
        .rule{
            .explain{
                font-size: 0.9rem;
                color: #797070;
            }
            .row:not(:last-child){
                .editBtn{
                    font-weight: 700;
                    border-radius: 50%;
                }
            }
        }
    }
}
#facilityBody{
    & > div{
        margin: 2.5rem 0;
        &:last-child .modal-list:last-child{
            border: none;
        }
    }
    h3{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: .5rem;
    }
    .modal-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
        border-bottom: 1px solid #b9b8b8;
        span{
            font-size: 1.2rem;
        }
        .btn-group{
            .editBtn{
                border-radius: 50% !important;
                &:last-child{
                    margin-left: 1rem;
                }
            }
        }
    }
}
#spaceBody{
    & > div{
        margin: 1rem 0;
        .list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #b9b8b8;
            span{
                font-size: 1.2rem;
            }
            .btn{
                display: flex;
                align-items: center;
                &:hover{
                    background-color: transparent !important;
                }
                button{
                    font-size: 1.2rem;
                    width: 2rem;
                    text-decoration: none;
                    border-radius: 50%;
                    border: 1px solid #717171;
                    background-color: #fff;
                }
                span{
                    margin: 0 1rem;
                }
            }
        }
        .form-check{
            font-size: 1.2rem;
        }
        &:last-child .modal-list:last-child{
            border: none;
        }
    }
    h4{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: .5rem;
    }
    .btn-dark{
        margin: .5rem 0;
    }
}
#photoBody{
    padding: 0 1rem;
    > div{
        margin: 3rem 0;
        h2{
            font-weight: 700;
            font-size: 1.5rem;
            margin: 0;
        }
        span{
            color: #717171;
        }
    }
    .cover{
        button{
            display: block;
            border-radius: 8px;
            margin: 1rem 0;
        }
        #coverPicture{
            .delete{
                margin: 1rem 0;
                height: 13rem;
                background-size: cover;
            }
        }
    }
    .upload{
        .btn{
            display: block;
            margin: 1rem 0;
            width: 5.7rem;
            border-radius: 8px;
        }
        #showPhoto{
            .delete{
                margin: 1rem 0;
                height: 13rem;
                background-size: cover;
                position: relative;
                // pointer-events: none;
                &.drag-sort-active {
                    opacity: 50;
                    border: 5px solid #000000;
                }
                &::before{
                    content: "✕";
                    background-color: rgba(49, 49, 49, 0.226);
                    border-radius: 50%;
                    width: 1.5rem;
                    left: 0.5rem;
                    top: 0.2rem;
                    text-align: center;
                    cursor: pointer;
                    position: absolute;
                    z-index: 10;
                    pointer-events: fill;
                }
            }
        }
        #uploadDiv{
            width: 100%;
            height: 13rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px dotted #000;
            img{
                width: 3rem;
            }
            p{
                font-weight: 700;
            }
        }
    }
}
#coverBody{
    .delete{
        width: 100%;
        height: 13rem;
        margin: 1rem 0;
        background-size: cover;
        cursor: pointer;
        &.active{
            border: 5px solid #000;
        }
    }
}
.btn,
button{
    &:hover{
        background-color: #71717118;
    }
    &:focus {
        box-shadow: none !important;
        outline: none !important; 
    }
}
@media screen and (min-width:750px) {
    .main{
        padding: 0 9rem;
        margin-top: 1.5rem;
        .title-div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .mix{
                display: flex;
                align-items: center;
                .view{
                    margin-left: 2rem;
                }
            }
        }
        .detail-section,
        .price-section,
        .policy-rule-section{
            margin-top: 0;
        }
        .detail-section{
            .photo{
                .pic{
                    .showPic{
                        height: 25rem ;
                    }
                }
            }
        }
    }
    #photoBody{
        .cover{
            #coverPicture{
                .delete{
                    width: 50%;
                }
            }
        }
        .upload{
            #showPhoto{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .delete{
                    width: 49%;
                }
            }
            #uploadDiv{
                width: 49%;
            }
        }
    }
    #coverBody{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .delete{
            width: 49%;
        }
    }
}

.row{
    --bs-gutter-x: 0 !important;
}